# API_PORT=5000

# DB_HOST=postgres
# DB_HOST=194.195.214.207  // IP Linode
# DB_PORT=5432
# DB_USER=postgres
# DB_PASSWORD=250H?$UbgFFG
# DB_NAME=arche

# Usada por Prisma (requiere una única connection string; el password va URL-encoded)
# DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD_ENCODED>@<DB_HOST>:<DB_PORT>/<DB_NAME>?schema=public


# # node -e "console.log(require('crypto').randomBytes(64).toString('base64'))"   <-- Generar nuevo JWT_SECRET
# JWT_SECRET=QqOvvSSRb5XN2/qXSnB/Mfp9wf6enqArJaa9GrhmN/95GTA65ex0oVYksQ9MeZw0+JSR0xP4FItcYSdsndbFMw

# para generar tag
# jsherrcode/api-arche:${{ github.sha }}